body {
    font-family: sans-serif;
}
p {
    border: 2px solid black;
}
header {
    background-color: #black; 
    color: #white; 
}

nav ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: space-around; 
}
nav a {
    color: #white;
    text-decoration: none;
}

.hero {
    /* Background image, text styles */
}

.about {
    text-align: center;
}

.logo {
    font-size: 5rem;
    font-weight: bold;
}

footer {
    background-color: #black; 
    color: #white;
    text-align: center;
    padding: 1rem 0;
}

.social a {
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
}
