
body {
    background-color: #2d2d2d;
}
nav {
  background-color: #000000; /* Example background color */
}

ul {
  list-style-type: none; /* Remove default bullets */
  box-shadow: 8px 8px 20px rgba(255, 255, 255, 0.2),   /* First shadow */
    -8px -8px 20px rgba(0, 0, 0, 0.3); /* Second shadow */
  margin: 200;
  padding: 0;
  overflow: hidden;
}

li {
  float: right; /* Make list items float to create horizontal layout */
}

li a {
  display: block;
  color: white; /* Example text color */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111; /* Example hover effect */
}

.content{
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 equal-width columns */
    grid-gap: 20px; /* Space between items */
}

.grid-item {
    background-color: #f2f2f2; /* Example background color */
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
}